<!DOCTYPE html>

<html>
    <head>
        <title>Message Board</title>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">
<!--
        <style>
            a {text-decoration: none; color: black;}
        </style>
-->
    </head>

    <body>
        <h1>Message Board</h1>

        <ul>
        <% message.forEach(function(todo, index) { %>
            <li><a href="/todo/delete/<%= index %>"></a> <%= todo %></li>
        <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <input type="text" placeholder="Name" name="name" id="uniqueName"/>
                <input type="text" placeholder="Enter a comment" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>